<% include templates/header.ejs %>
<body>

<div class="container" style="background-color: #eee">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3 id="h3Label">Καταχώρηση Πελατών</h3>
            <form id="formId" method="post" action="/users/customersAdd">
                <div class="form-group">
                    <label for="name">Επωνυμία:</label>
                    <input type="text" class="form-control" name="name" value="<%=typeof customers!=='undefined'?customers.name:null%>">
                </div>
                <div class="form-group">
                    <label for="vatId">Επάγγελμα:</label>
                    <input type="text" class="form-control" name="occupation" value="<%=typeof customers!=='undefined'?customers.occupation:null%>">
                </div>
                <div class="form-group">
                    <label for="vatId">Διεύθυνση:</label>
                    <input type="text" class="form-control" name="address" value="<%=typeof customers!=='undefined'?customers.address:null%>">
                </div>
                <div class="form-group">
                    <label for="vatId">Α.Φ.Μ:</label>
                    <input type="text" class="form-control" name="vatId" value="<%=typeof customers!=='undefined'?customers.vatId:null%>">
                </div>
                <div class="form-group">
                    <label for="taxOffice">Δ.Ο.Υ:</label>
                    <input type="text" class="form-control" name="taxOffice" value="<%=typeof customers!=='undefined'?customers.taxOffice:null%>">
                </div>
                <div class="form-group">
                    <label for="phone">Τηλέφωνο:</label>
                    <input type="text" class="form-control" name="phone" value="<%=typeof customers!=='undefined'?customers.phone:null%>">
                </div>
                <div class="form-group">
                    <label for="mobile">Κινητό:</label>
                    <input type="text" class="form-control" name="mobile" value="<%=typeof customers!=='undefined'?customers.mobile:null%>">
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" name="email" value="<%=typeof customers!=='undefined'?customers.email:null%>">
                </div>
                <div class="form-group">
                    <label for="taxisUser">Taxis Username:</label>
                    <input type="text" class="form-control" name="taxisUser" value="<%=typeof customers!=='undefined'?customers.taxisUser:null%>">
                </div>
                <div class="form-group">
                    <label for="taxisPass">Taxis Password:</label>
                    <input type="text" class="form-control" name="taxisPass" value="<%=typeof customers!=='undefined'?customers.taxisPass:null%>">
                </div>
                <div class="form-group">
                    <label for="gemiUser">ΓΕΜΗ Username:</label>
                    <input type="text" class="form-control" name="gemiUser" value="<%=typeof customers!=='undefined'?customers.gemiUser:null%>">
                </div>
                <div class="form-group">
                    <label for="gemiPass">ΓΕΜΗ Password:</label>
                    <input type="text" class="form-control" name="gemiPass" value="<%=typeof customers!=='undefined'?customers.gemiPass:null%>">
                </div>
                <div class="form-group">
                    <label for="amka">AMKA:</label>
                    <input type="text" class="form-control" name="amka" value="<%=typeof customers!=='undefined'?customers.amka:null%>">
                </div>
                <div class="form-group">
                    <label for="amka">Συμβόλαιο:</label>
                    <input type="text" class="form-control" name="priceContract" value="<%=typeof customers!=='undefined'?customers.priceContract:null%>">
                    <label><input type="radio" name="typeOfContract" value="true" id="typeYear">Ετήσιο</label>
                    <label><input type="radio" name="typeOfContract" value="false" id="typeMonth">Μηνιαίο</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="regularCustomers" value="true" id="reqCustomer">Τακτικός Πελάτης</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="regularCustomers" value="false" id="exCustomer">Εξωτερικός Πελάτης</label>
                </div>

                <button id="btnSubmit" type="submit" class="btn btn-success">Καταχώρηση Πελάτη</button>
            </form>

        </div>
    </div>
</div>

<script>
    <%if(typeof customers!=='undefined'){%>
        document.getElementById('h3Label').innerHTML='Καρτέλα Πελάτη';
        document.getElementById('btnSubmit').innerHTML='Διόρθωση Στοιχείων';
        document.getElementById('formId').action='/users/customers/<%=customers._id%>';
    //radio set if checked or not
        <%if(customers.regularCustomers===true){%>
            document.getElementById('reqCustomer').checked=true;
            document.getElementById('exCustomer').checked=false;
        <%}else{%>
            document.getElementById('reqCustomer').checked=false;
            document.getElementById('exCustomer').checked=true;
        <%}%>
    //radio set for typeOfContract
        <%if(customers.typeOfContract===true){%>
            document.getElementById('typeYear').checked=true;
            document.getElementById('typeMonth').checked=false;
        <%}else{%>
            document.getElementById('typeYear').checked=false;
            document.getElementById('typeMonth').checked=true;
        <%}%>

    <%}%>
</script>

<% include templates/footer.ejs %>
</body>

</html>