<% include templates/header.ejs %>
<body>

<div class="container" style="background-color: #eee">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3>Πελάτες</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Α/Α</th>
                    <th>Επωνυμία</th>
                    <th>Ημερομηνία</th>
                    <th>Ποσό</th>
                </tr>
                </thead>
                <tbody id="invoicesList">

                </tbody>
            </table>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>
<script>
var parent=document.getElementById('invoicesList');
var trElem;
var td1;
var td2;
var td3;
var td4;
var invoiceDate;
<% invoices.forEach(function(invoices){%>
    invoiceDate=formatDate('<%=invoices.dateOfPublish%>');
    trElem=document.createElement('tr');
    td1=document.createElement('td');
    td1.innerHTML='<%=invoices.invoiceNumber%>';
    td2=document.createElement('td');
    td2.innerHTML='<a href=\'\/users\/invoicesHistory\/<%=invoices._id%>\'><%=invoices.customer%><\/a>';
    td3=document.createElement('td');
    td3.innerHTML=invoiceDate;
    td4=document.createElement('td');
    td4.innerHTML='<%=invoices.totalPrice%>';
    trElem.appendChild(td1);
    trElem.appendChild(td2);
    trElem.appendChild(td3);
    trElem.appendChild(td4);
    parent.appendChild(trElem);
<%})%>

</script>
</body>

</html>