<% include templates/header.ejs %>
<body>

<div class="container" style="background-color: #eee">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
            <div class="col-sm-9">
                <div id="printableArea">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="text-left">ΕΥΣΤΑΘΟΠΟΥΛΟΥ ΚΑΙ ΣΙΑ Ο.Ε</h3>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <address>
                            <strong>ΕΥΣΤΑΘΟΠΟΥΛΟΥ ΚΑΙ ΣΙΑ Ο.Ε</strong><br>
                            <strong>ΦΟΡΟΛΟΓΙΣΤΚΑ Ο.Ε</strong><br>
                            <strong>Λ.ΚΗΦΙΣΙΑΣ 58 - ΑΘΗΝΑ - 11526</strong><br>
                            <strong>Α.Φ.Μ: 800902974</strong><br>
                            <strong>Δ.Ο.Υ: ΙΒ ΑΘΗΝΩΝ</strong><br>
                            <strong>ΤΗΛ.: 2106967306-7</strong><br>
                            <strong>Email: logistek@otenet.gr</strong><br>
                        </address>
                    </div>
                </div>
                    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Στοιχεία Πελάτη:</h4>

                        <p>
                            <strong><%=customer.name%></strong><br>
                            <%=customer.occupation%><br>
                            <%=customer.address%><br>
                            Α.Φ.Μ: <%=customer.vatId%><br>
                            Δ.Ο.Υ: <%=customer.taxOffice%>
                        </p>
                    </div>
                    <div class="col-sm-4 pull right">
                        <h4>Στοιχεία Παραστατικού:</h4>

                        <p><strong>Τιμολόγιο Παροχής Υπηρεσιών</strong><br>
                            <label>Ημερομηνία Έκδοσης:</label> <span id="dateLabelId"></span><br>
                            <label>Αρ.Παραστατικού: </label> <span><%=invoice.invoiceNumber%></span>
                        </p>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Περιγραφή Υπηρεσίας</strong></h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <td class="text-center"><strong>Περιγραφή</strong></td>
                                            <td class="text-right"><strong>Αξία</strong></td>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td><%=invoice.description%></td>
                                            <td id='desAreaTotalId' class="text-right"></td>
                                        </tr>

                                        <tr>
                                            <td class="thick-line text-right"><strong>Σύνολο</strong></td>
                                            <td id='totalId' class="thick-line text-right"></td>
                                        </tr>
                                        <tr>
                                            <td class="no-line text-right"><strong>ΦΠΑ 24%</strong></td>
                                            <td id="vatId" class="no-line text-right"></td>
                                        </tr>
                                        <tr>
                                            <td class="no-line text-right"><strong>Γενικό Σύνολο</strong></td>
                                            <td id='priceWithVatId' class="no-line text-right"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Πληρωμή με Εμβασμα σε τραπεζικό λογαριασμό:</strong>

                        <p>
                            <strong>ALPHA BANK</strong><br>
                            IBAN: GR1501402320232002002002035 <br>
                            Στοιχεία Κατόχου Λογαριασμού:ΕΥΣΤΑΘΟΠΟΥΛΟΥ ΚΑΙ ΣΙΑ Ο.Ε<br>
                        </p>
                    </div>
                    <div class="col-sm-6 pull right">
                        <div class="col-sm-6">
                            <h4>Ο Παραδούς</h4>
                        </div>
                        <div>
                            <h4 class="col-sm-6">Ο Παραλαβών</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End of printable Area -->
    <h3 align="right">
        <a onclick="printDiv('printableArea')" href="#print">
            <span class="glyphicon glyphicon-print"></span>
        </a>
    </h3>
</div>

<% include templates/footer.ejs %>

<script>
    var dateLabelIdElem=document.getElementById('dateLabelId');
    var formatedDate=formatDate('<%=invoice.dateOfPublish%>');
    dateLabelIdElem.innerHTML=formatedDate;
    var vatIdElem=document.getElementById('vatId');
    var priceToCalcVat=Number('<%=invoice.totalPrice%>');
    var vat=0.24*priceToCalcVat;
    vatIdElem.innerHTML=vat.toFixed(2);
    var totalIdElem=document.getElementById('totalId');
    totalIdElem.innerHTML=priceToCalcVat.toFixed(2);
    var desAreaTotalElem=document.getElementById('desAreaTotalId');
    desAreaTotalElem.innerHTML=priceToCalcVat.toFixed(2);
    var priceWithVat=priceToCalcVat+vat;
    var priceWithVatElem=document.getElementById('priceWithVatId');
    priceWithVatElem.innerHTML=priceWithVat.toFixed(2);
</script>

</body>

</html>